.container {
  background-color:#181A1F;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 500px; */
  box-shadow: 5px 5px 20px 2px gray !important; 
}
.signInForm {
  color: #fff;
  width: 300px;
}
.formControl {
  color: black;
}
.customBtn {
  background-color: blueviolet !important;
  border: #fff !important;
  border-radius: 10px !important;
  border-width: 10px !important;
}
.googleSignBtn{
  background-color: white !important;
  border: white !important;
  border-radius: 10px !important;
  border-width: 10px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.linkedInSignBtn{
  background-color: #0472AD !important;
  border: #fff !important;
  border-radius: 10px !important;
  border-width: 10px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
