.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:90vh;
  width: 100vw;
}
.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: black solid !important;
  border-width: 2px !important;
  border-radius: 10px !important;
  padding: 50px;
  background-color: white !important;
}
.signInForm {
  width: 360px;
  height:100%;
  color: white !important;
}
.formControl {
  color: black;
  width: 100%;
}
.customBtn {
  background-color: blueviolet !important;
  border: black solid !important;
  border-width: 1px !important;
  border-radius: 10px !important;
}
.googleSignBtn{
  background-color: white !important;
  border: black solid !important;
  border-radius: 10px !important;
  border-width: 1px !important;
  color: black !important;

  display: flex;
  flex-direction: row !important;
  justify-content: center;
}
