.navContainer {
  background-color: #181a1f !important;
  padding-left: 10px;
}
.navBrandLink {
  color: rgb(247, 220, 70) !important;
  text-decoration: none;
  pointer-events: none;
  font-size: 20px;
  font-weight: bold;
}
.navLink {
  color: gray !important;
  font-size: 16px;
  text-decoration: none;
  padding-right: 5px;
  padding-left: 5px;
}
.navLink:hover {
  color: white !important;
}
.activeNavLink {
  color: white !important;
  text-decoration: none;
}
.navDropdownLink{
  right: 0;
  left: auto;
}
