.container {
    background-color:#181A1F;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
  }
  .resetPasswordForm {
    color: #fff;
    width: 300px;
  }
  .formControl {
    color: black;
  }
  .customBtn {
    background-color: blueviolet !important;
    border: #fff !important;
    border-radius: 10px !important;
    border-width: 10px !important;
  }