.container {
    padding-top: 10px;
    background-color: #181a1f !important;
    color: white !important;
  }
  .topRow {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .topRowItems{
    display: flex;
    justify-content: space-between;
  }
  .profileRow {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .userDetail{
    display: flex;
    flex-direction: row;
  }
  .statusData{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }
  .statusDataItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    margin-right: 2px;
  }
  .bottomRow{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .achievement{

  }
  .badges{

  }

  