.container {
  background-color: white;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.firstColumnHeader {
  background-color: #abcff7;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: 2px 1px 5px 2px gray !important;
}
.firstColumnRows {
  background-color: white;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 10px;
}
.interviewSection {
  background-color: #ABCFF7;
  margin-bottom: 10px;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: 2px 1px 5px 2px gray !important; 
}
.codingSection {
  background-color: #F9E79F;
  margin-bottom: 10px;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: 2px 1px 5px 2px gray !important; 
}
.programSection {
  background-color: #F1948A;
  margin-bottom: 10px;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: 2px 1px 5px 2px gray !important; 
}
.dataStructureSection {
  background-color: #F7DC6F;
  margin-bottom: 10px;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: 2px 1px 5px 2px gray !important; 
}
