.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px;
}
.signUpForm {
  width: 360px;
  color: white !important;
}
.formControl {
  color: black;
  width: 100%;
}
.customBtn {
  background-color: blueviolet !important;
  border: black solid !important;
  border-width: 1px !important;
  border-radius: 10px !important;
}
