@media all and (min-width: 480px) {
  .Login {
    margin: 60px;
    padding: 60px;
    justify-content: center;
    align-items: center;
    height: 500;
    background-color: #181a1f;
    color: #fff;
    border: "1px solid rgba(0, 0, 0, 0.05)";
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
  .form-control {
    color: black;
  }
  .custom-btn {
    background-color: blueviolet !important;
    border: #fff !important;
  }
}
